<h1>A starter project made with</h1>

<p><img src="./assets/img/angular.png" alt="Angular" /></p>

<p>and</p>

<p><img src="./assets/img/springboot.png" alt="Spring Boot" /></p>

<p>version {{ version }} </p>
