logging.level:
    org:
        springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
        hibernate:
            type: trace
spring:
    datasource:
        initialization-mode: always
        #url: {{ SPRINGBOOT_ANGULAR_STARTER_DB_URL }}
        #username: {{ SPRINGBOOT_ANGULAR_STARTER_DB_USER }}
        #password: {{ SPRINGBOOT_ANGULAR_STARTER_DB_PASSWORD }}
    jpa:
        hibernate:
            ddl-auto: none
        properties.hibernate:
            #dialect: org.hibernate.dialect.PostgreSQL10Dialect
            format_sql: true
        generate-ddl: false
        show-sql: true

portal.application.name: "{{ SPRINGBOOT_ANGULAR_STARTER_PORTAL_APPLICATION_NAME }}"

server.use-forward-headers: true
